body {
    padding: 0.5rem;
}

h1 {
    font-style: italic;
    text-align: center;
}

h1 span {
    color: hsl(90 60% 50%);
}

.error {
    text-align: center;
    color: hsl(0, 100%, 40%);
    margin: none;
}

hr {
    border-top: 3px solid black;
}

input[type="text"], input[type="password"], input[type="tel"], input[type="email"]{
    box-sizing: border-box;
    font-size: 16px;
    width: 100%;
    padding: 0.5rem;
    background-color: hsl(0 0% 95%);
    border-radius: 6px;
    border-color: hsl(0 0% 70%)
}

input[type="submit"] {
    display: block;
    width: 100%;
    max-width: 15rem;
    margin: 2rem auto 1rem;
    padding: 0.75rem;
    background-color: hsl(210 90% 40%);
    color: white;
    border: none;
    border-radius: 1.5rem;
}

input[type="submit"]:hover {
    background-color: hsl(90 60% 50%);
}

button, input[type="submit"] {
    cursor: pointer;
}

button.link {
    width: 100%;
    text-align: center;
    border: none;
    background-color: transparent;
    text-decoration: underline;
    margin-bottom: 1rem;
}

button.link:hover {
    color: hsl(210 90% 40%);
}

.label-field {
    max-width: 20rem;
    margin: 1rem auto;
}

.label-field label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

#business-address {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.start-form h2, .start-form h3, #client-business-toggle {
    text-align: center;
}




